<?xml version="1.0" encoding="utf-8"?>
<WebApps>
	<WebApp>http://172.25.9.191/ESB.UDDI.Service/UDDIService.asmx?wsdl</WebApp> 
	<WebApp>http://172.25.9.191/ESB.TransformServices.WCF/TransformationService.svc?wsdl</WebApp> 
	<WebApp>http://172.25.9.191/ESB.TransformServices/TransformationService.asmx?wsdl</WebApp>
	<WebApp>http://172.25.9.191/ESB.ResolverServices.WCF/ResolverService.svc?wsdl</WebApp>
	<WebApp>http://172.25.9.191/ESB.ResolverServices/ResolverService.asmx?wsdl</WebApp>
	<WebApp>http://172.25.9.191/esb.portal/Default.aspx</WebApp>
	<WebApp>http://172.25.9.191/ESB.ItineraryServices.WCF/ProcessItinerary.svc?wsdl</WebApp>
	<WebApp>http://172.25.9.191/ESB.ItineraryServices.Response.WCF/ProcessItinerary.svc?wsdl</WebApp>
	<WebApp>http://172.25.9.191/ESB.ItineraryServices.Response/ProcessItinerary.asmx?wsdl</WebApp>
	<WebApp>http://172.25.9.191/ESB.ItineraryServices.Generic.WCF/ProcessItinerary.svc?wsdl</WebApp>
	<WebApp>http://172.25.9.191/ESB.ItineraryServices.Generic.Response.WCF/ProcessItinerary.svc?wsdl</WebApp>
	<WebApp>http://172.25.9.191/ESB.ItineraryServices/ProcessItinerary.asmx?wsdl</WebApp>
	<WebApp>http://172.25.9.191/ESB.Exceptions.Service/ExceptionService.svc?wsdl</WebApp>
	<WebApp>http://172.25.9.191/ESB.ExceptionHandlingServices.WCF/ExceptionHandling.svc?wsdl</WebApp>
	<WebApp>http://172.25.9.191/ESB.ExceptionHandlingServices/ExceptionHandling.asmx?wsdl</WebApp>
	<WebApp>http://172.25.9.191/ESB.BizTalkOperationsService/Operations.asmx?wsdl</WebApp>
	<WebApp>http://172.25.9.191/ESB.BAM.Service/BAMService.svc?wsdl</WebApp>
	<WebApp>http://172.25.9.191/BAM/default.aspx</WebApp>
	<WebApp>http://172.25.9.191/BAM/BAMQueryService/BamQueryService.asmx?wsdl</WebApp>
	<WebApp>http://172.25.9.191/BAM/BAMManagementService/BamManagementService.asmx?wsdl</WebApp>
</WebApps>
